
.annotation {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.canvas {



}

.custom-chart-canvas {
    width: 600px !important;
    height: 400px !important;
    left: 20px !important;
    top: 40px !important;
}