/*.custom-chart-container {*/
/*    position: absolute !important;*/
/*    !*width: 90% !important;*!*/
/*    !*height: 80vh !important; !* 80% высоты видимой области экрана *!*!*/

/*}*/


/*.tv-lightweight-charts {*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        position: absolute !important;*/
/*        !*width: 100% !important;*!*/
/*        !*height: 500px !important; !* 80% высоты видимой области экрана *!*!*/
/*}*/

.tv-lightweight-charts {
    height: 500px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.annotation {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
