.copyable-address-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.copyable-address-input {
    flex-grow: 1;
    border: 1px dashed #ccc;
    padding: 8px;
    font-size: 14px;
    margin-right: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(80, 79, 79, 0.1);
    color: white;
    height: 30px;
    width: 86vw;
}

.copy-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 30px;
}




.qr-code {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92vw;
}

.qr-code-text {
    margin-top: 10px;
    color: #4d5762;
    font-size: 16px;
}


