.header-wallet {
    padding: 40px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.89);
    background-image: url('header-bg.png');
    background-repeat: no-repeat;
    background-position: center center;

    color: rgba(255, 255, 255, 0.6);
    text-align: center;

}

.rounded-button {
    width: calc(100% - 40px);
    margin: 0;
    padding: 10px !important;
    border: none;
    border-radius: 8px;
    background-color: #0a9d98;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    top: 120px;
    left: 20px;
    z-index: 10;
}

.wallet-icon {
    margin-right: 10px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tabs {
    position: fixed;
    top: 180px;
    left: 20px;
    display: flex;
    margin-bottom: 10px;
    z-index: 1001;
    width: calc(100% - 40px)
}

.tab {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
    /*border: 1px solid #ccc;*/
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: slategrey;
    font-size: 18px;
    white-space: nowrap;
    width: calc(100% - 40px)

}

.tabs .tab:not(:last-child) {
    margin-right: 30px;
}

.tabs .tab:last-child {
    /*margin-left: 40vw;*/
    width: 100vw;
    text-decoration: underline;
    color: white;

}

.tab:hover {
    color: #727070;
    /*background-color: #c1d8ef;*/
}

.tab.active {
    color: #cccccc;
    /*background-color: #c1d8ef;*/

}

/*.tab-content {*/
/*    width: calc(100% - 40px);*/
/*    !*padding: 10px;*!*/
/*    border: none;*/
/*    border-radius: 0;*/
/*    position: fixed;*/
/*    top: 220px;*/
/*    !*align-items: center;*!*/
/*    justify-content: center;*/
/*    font-size: 17px;*/

/*    display: flex;*/
/*}*/
.tab-content {
    width: calc(100% - 40px);
    margin: 0;
    padding: 10px !important;
    border: none;
    border-radius: 8px;
    color: #4d5762;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    top: 220px;
    left: 20px;
    z-index: 10;
}




