.header-wallet {
    padding: 40px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.89);
    background-image: url('header-bg.png');
    background-repeat: no-repeat;
    background-position: center center;

    color: rgba(255, 255, 255, 0.6);
    text-align: center;

}

.rounded-button {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 10px !important;
    border: none;
    border-radius: 8px;
    background-color: #0a9d98;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.wallet-icon {
    margin-right: 10px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tabs {
    /*width: 100vh;*/
    top: 180px;
    left: 20px;
    display: flex;
    margin-bottom: 10px;
    z-index: 10;
    /*width: calc(100% - 40px)*/
}

.tab {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: slategrey;
    font-size: 18px;
    white-space: nowrap;

}

.tabs .tab:not(:last-child) {
    /*margin-right: 30px;*/

}

.tabs .tab:last-child {
    text-decoration: underline;
    color: white;
    flex-grow: 1;
    text-align: right;

}

.tab:hover {
    color: #727070;
    /*background-color: #c1d8ef;*/
}

.tab.active {
    color: #cccccc;
    /*background-color: #c1d8ef;*/

}

.tab-content {
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 8px;
    color: #4d5762;
    cursor: pointer;
    font-size: 18px;

}




