.header-wallet {
    padding: 40px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    background-color: rgba(0, 0, 0, 0.89);
    background-image: url('header-bg.png');
    background-repeat: no-repeat;
    background-position: center center;

    color: rgba(255, 255, 255, 0.6);
    text-align: center;

}

.rounded-button {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 10px !important;
    border: none;
    border-radius: 8px;
    background-color: #0a9d98;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.wallet-icon {
    margin-right: 10px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.tabs {
    /*width: 100vh;*/
    top: 180px;
    /*left: 20px;*/
    display: flex;
    margin-bottom: 10px;
    z-index: 10;
    flex-grow: 1;
    text-align: right;
    /*width: calc(100% - 40px)*/
}

.tab {
    flex-grow: 0;
    flex-shrink: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    color: slategrey;
    font-size: 18px;
    white-space: nowrap;


}


.tabs .tab:last-child {
    text-decoration: underline;
    color: white;
    flex-grow: 0;
    text-align: right;
    margin-left: auto;

}

.tab:hover {
    color: #727070;
    /*background-color: #c1d8ef;*/
}

.tab.active {
    color: #cccccc;
    /*background-color: #c1d8ef;*/

}

.tab-content {
    /*width: 100%;*/
    margin: 0;
    border: none;
    border-radius: 8px;
    color: #4d5762;
    cursor: pointer;
    font-size: 18px;
    width: 92vw;
    /*margin-bottom: 10px;*/
}

.tab a {
    text-decoration: none;
    color: #cccccc;

}
.tab.active a {
    color: #727070;

}
.tab:hover a {
    color: #7e7d7d;;
}

.dropdown-wallet {
    z-index: 10;
    position: relative;
}


.dropdown-toggle-wallet {
    padding: 10px;
    background-color: #565454;
    color: #fff;
    border: 1px solid #1f1f1f;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-right: 820px;*/
    width: 92vw;
    font-size: 20px;
}
.dropdown-menu-wallet {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #3f3e3e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    border-radius: 7px;
    font-size: 20px;
    width: 100%;
    left: 0;
}
.dropdown-menu-wallet li {
    padding: 10px;
    cursor: pointer;

    /*z-index: 800;*/
}
.dropdown-menu-wallet li:hover {
    background-color: slategrey;
}

.dropdown-wallet.isOpen .dropdown-menu-wallet {
    display: inline-block;
    z-index: 1000;
    position: absolute;
    width: 100%;
}
.dropdown-toggle-wallet::after {
    content: '\25BC';
    margin-left: 10px;
    color: #fff;
}


.dropdown-option-wallet {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1100;
}

.option-icon-wallet {
    margin-right: 10px;
    font-size: 20px;
}

.option-label-wallet {
    color: #fff
}





