
.menu-items {
    display: flex;
    justify-content: space-between;

}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #96F1F4;
    text-align: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.3s;
    /*box-sizing: border-box;*/
}


.menu-icon {
    margin-right: 5px;

    width: 100%

}

.menu-text {
    display: flex;

    flex-direction: column;
    text-align: center;
}


