
.menu-items {
    display: flex;
    justify-content: space-between;

}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #96F1F4;
    text-align: center;
    justify-content: center;
    width: 100%;
    transition: background-color 0.3s;
    /*box-sizing: border-box;*/
}

/*.menu-item:hover,*/
/*.menu-item.active {*/
/*    background-color: #1f1f1f; !* цвет при наведении или активации *!*/
/*    color: #fff; !* цвет текста при активации *!*/
/*}*/

/*.menu-item.active {*/
/*    background-color: rgba(0, 0, 0, 0.51); !* цвет при активации *!*/
/*    color: #fff; !* цвет текста при активации *!*/
/*    width: 110px; !* или другая фиксированная ширина, которую вы хотите использовать *!*/
/*}*/

/*.menu-item:hover {*/
/*    background-color: #3366cc; !* цвет при наведении *!*/
/*    color: #fff; !* цвет текста при наведении *!*/
/*    width: 40%; !* уменьшенная ширина при наведении *!*/
/*}*/

.menu-icon {
    margin-right: 5px;

    width: 100%

}

.menu-text {
    display: flex;

    flex-direction: column;
    text-align: center;
}


