/* MenuTop */
.logo-text {
    height: 100px;
    margin-left: 20px;
}

.card {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    color: #96F1F4
}

.app-header-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #96F1F4;
    text-align: center;
    justify-content: center;
    width: 100%
}

/*.card flex justify-content-center {*/
/*    margin-bottom: 20px;*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*}*/



